1
../defs/basin.def
1
../defs/hill.def
1
../defs/zone.def
1
../defs/soil_SOILTYPE.def
1
../defs/lu_undev.def
1
../defs/veg_VEGTYPE.def
1
../clim/CLIMSTATION_base
_world BASIN_MAP
 _basin BASIN_MAP 1
	x		value 0.0
	y		value 0.0
	z		aver DEM_MAP
	default_ID	dvalue 1
	latitude	value XX.XX 
	n_basestations 	dvalue 0	
  	_hillslope HILLSLOPE_MAP 1
		x		value 0.0
		y		value 0.0
		z		aver DEM_MAP
		default_ID	dvalue 1	
		gw_storage	value 0.0
		gw_NO3		value 0.0
		n_basestations	dvalue 0 	
		_zone HILL_OR_PATCH__MAP 1 
			x		  value 0.0
			y		  value 0.0
			z		  daver DEM_MAP
			default_ID  	  dvalue 1  
			a_area		  area	
			slope		  aver slope	
			aspect		  spavg aspect slope	
			precip_lapse_rate value 1.0
			east_horizon	  value 0.17 	
			west_horizon	  value 0.17	
			n_basestations	  dvalue 1	
			base_station_ID	  dvalue 101	
			 _patch PATCH_MAP 1
				x			value 0.0
				y			value 0.0
				z			aver  DEM_MAP
				soil_default_ID	        value 3.0	
				landuse_default_ID	value 1.0
				a_area			area	
				slope	aver		slope			
				wetness_index 		value 7.0	
				Ksat_vertical   	value 1.0 
				m_par	        	value 0.12	
				rz_storage		value 0.0
				unsat_storage		value 0.0
				sat_deficit 		value 0.0
				snowpack_water_equivalent_depth value 0.28 
				snowpack_water_depth 	value 0.0
				snowpack_T 		value 0.0
				snowpack_surface_age 	value 0.0
				snowpack_energy_deficit value -0.1 
				litter.cover_fraction	value 1.0
				litter.rain_stored	value 0.0
				litter_cs.litr1c 	value 0.0
				litter_ns.litr1n 	value 0.0
				litter_cs.litr2c 	value 0.0
				litter_cs.litr3c 	value 0.0
				litter_cs.litr4c 	value 0.0
				soil_cs.soil1c 		value 0.0
				soil_ns.sminn		value 0.0
				soil_ns.nitrate		value 0.0
				soil_cs.soil2c		value 0.0
				soil_cs.soil3c  	value 0.0
				soil_cs.soil4c		value 0.0
				n_basestations		dvalue 0
				_stratum PATCH_MAP 1	
					veg_default_ID 		value 7	
					cover_fraction		value 1.0   
					gap_fraction		value 0.0 	 	 
					root_depth		value 1.0
					snow_stored		value 0.0 
					rain_stored		value 0.0  
					cs_pool			value 0.0
					cs_leafc		value 0.0
					cs_dead_leafc		value 0.0 
					cs_leafc_store		value 0.0
					cs_leafc_transfer	value 0.0 
					cs_live_stemc		value 0.0
					cs_live_stemc_store	value 0.0
					cs_live_stemc_transfer	value 0.0 
					cs_dead_stem		value 0.0
					cs_dead_stemc_store	value 0.0
					cs_dead_stemc_transfer	value 0.0  
					cs_live_crootc		value 0.0
					cs_live_crootc_store	value 0.0
					cs_live_crootc_transfer	value 0.0  
					cs_dead_crootc		value 0.0
					cs_dead_crootc_store	value 0.0
					cs_dead_crootc_transfer	value 0.0 
					cs_frootc		value 0.0 
					cs_frootc_store		value 0.0
					cs_frootc_transfer	value 0.0 
					cs_cwdc			value 0.0
					epv.prev_leafcalloc	value 0.0
					ns_pool			value 0.0 
					ns_leafn		value 0.0
					ns_dead_leafn		value 0.0 
					ns_leafn_store		value 0.0
					ns_leafn_transfer	value 0.0 
					ns_live_stemn		value 0.0
					ns_live_stemn_store	value 0.0
					ns_live_stemn_transfer	value 0.0  
					ns_dead_stem		value 0.0
					ns_dead_stemn_store	value 0.0
					ns_dead_stemn_transfer	value 0.0 
					ns_live_crootn		value 0.0
					ns_live_crootn_store	value 0.0
					ns_live_crootn_transfer	value 0.0  
					ns_dead_crootn		value 0.0
					ns_dead_crootn_store	value 0.0 
					ns_dead_crootn_transfer	value 0.0 
					ns_frootn		value 0.0
					ns_frootn_store		value 0.0 
					ns_frootn_transfer	value 0.0
					ns_cwdn			value 0.0
					ns_retransn		value 0.0
					epv_wstress		dvalue 0 
					epv_min_fparabs		value 0.0 
					epv_min_vwc		value 0.0
					n_basestations 		dvalue 0 

