_world 	BASIN_MAP 1
 _basin BASIN_MAP 1
	x			value -9999
	y			value -9999
	z			value -9999
	default_ID		value -9999
	latitude		value -9999 
	n_basestations 		value -9999	
  	_hillslope HILLSLOP_MAP 1
		x			value -9999
		y			value -9999
		z			value -9999
		default_ID		value -9999	
		gw_storage		value -9999
		gw_NO3			value -9999
		n_basestations		value -9999 	
		_zone HILL_OR_PATCH_MAP 1 
			x			value -9999
			y			value -9999
			z			value -9999
			default_ID  		value -9999  
			a_area			value -9999	
			slope			value -9999	
			aspect			value -9999	
			isohyet			value -9999			
			east_horizon		value -9999			
			west_horizon		value -9999	
			n_basestations		value -9999	
			base_station_ID 	value -9999	
			 _patch PATCH_MAP 1
				x			value -9999
				y			value -9999
				z			value -9999
				soil_default_ID		value -9999	
				landuse_default		value -9999	
				a_area			value -9999	
				slope			value -9999	
				wetness_index		value -9999	
                       		Ksat_vertical     	value -9999	
				m		 	value -9999	
				rz_storage		value -9999 
				unsat_storage		value -9999
				sat_deficit 		value -9999
				snowpack_water_equivalent_depth value -9999 
				snowpack_water_depth 	value -9999
				snowpack_T 		value -9999	
				snowpack_surface_age 	value -9999 
				snowpack_energy_deficit value -9999 
				litter.cover_fraction   value -9999
				rain_stored		value -9999
				litter_cs.litr1c 	value -9999
				litter_ns.litr1n 	value -9999
				litter_cs.litr2c 	value -9999	
				litter_cs.litr3c 	value -9999	
				litter_cs.litr4c 	value -9999	
				soil_cs.soil1c 		value -9999
				soil_ns.sminn		value -9999
				soil_ns.nitrate		value -9999	
				soil_cs.soil2c		value -9999	
				soil_cs.soil3c   	value -9999
				soil_cs.soil4c		value -9999	
				n_basestations		value -9999 
				  _stratum PATCH_MAP 1	
					default_ID		value -9999	
					cover_fraction		value -9999   
					gap_fraction		value -9999 	 	 
					root_depth		value -9999 
					snow_stored		value -9999 
					rain_stored		value -9999  
					cs_pool			value -9999 
  					cs_leafc		value -9999 
					cs_dead_leafc		value -9999 
					cs_leafc_store		value -9999
					cs_leafc_transfer	value -9999 
					cs_live_stemc		value -9999 
					cs_live_stemc_store	value -9999
					cs_live_stemc_transfer	value -9999
					cs_dead_stem		value -9999 
					cs_dead_stemc_store	value -9999
					cs_dead_stemc_transfer	value -9999
					cs_live_crootc		value -9999
					cs_live_crootc_store	value -9999
					cs_live_crootc_transfer	value -9999
					cs_dead_crootc		value -9999 
					cs_dead_crootc_store	value -9999
					cs_dead_crootc_transfer	value -9999
					cs_frootc		value -9999
					cs_frootc_store		value -9999
					cs_frootc_transfer	value -9999
					cs_cwdc			value -9999
					epv.prev_leafcalloc	value -9999
					ns_pool			value -9999
					ns_leafn		value -9999
					ns_dead_leafn		value -9999 
					ns_leafn_store		value -9999
					ns_leafn_transfer	value -9999
					ns_live_stemn		value -9999
					ns_live_stemn_store	value -9999
					ns_live_stemn_transfer	value -9999
					ns_dead_stem		value -9999
					ns_dead_stemn_store	value -9999
					ns_dead_stemn_transfer	value -9999
					ns_live_crootn		value -9999
					ns_live_crootn_store	value -9999
					ns_live_crootn_transfer	value -9999
					ns_dead_crootn		value -9999
					ns_dead_crootn_store	value -9999
					ns_dead_crootn_transfer	value -9999
					ns_frootn		value -9999
					ns_frootn_store		value -9999
					ns_frootn_transfer	value -9999
					ns_cwdn			value -9999
					ns_retransn		value -9999
					epv_wstress		value -9999 
					epv_min_fparabs		value -9999 
					epv_min_vwc		value -9999
					n_basestations 		value -9999 

