# Compiled object files
*.o
*.pyc
rhessys/rhessys7.0
rhessys/rhessys7.*


# Build directories
objects/
build/
build/Qt/gcc/bin/
build/Qt/gcc/RHESSys/RHESSys.pro.user
build/Qt/gcc/RHESSys/RHESSys.pro.user.2.7pre1

RHESSys/util/netcdf_data_processes

#Qt git structure
.directory
rhessys/init/.directory
util/GRASS/cxy/.directory

#other unitility
util/GRASS/cxy/cxy
g2w/grass2world/g2w


# Eclipse metadata
.project
.cproject

# vscode editor data
.vscode
rhessys/.vscode
*.code-workspace

# OS X extended attribute stores
.DS_Store
.DS_Store*

# Editor leftovers
*~

# Fire-spread model files 
*.dylib
libwmfire.dylib
libwmfire.so

# R
.Rproj.user
.Rhistory

# vscode 
rhessys/.vscode

# made by R func compile_rhessys (should be deleted typically)
.makefile_tmp
