# Compiled object files
*.o
*.pyc

rhessys/rhessys5.20.1

.nfs*
rhessys/.nfs*
rhessys/cycle/.nfs*
*.swp
rhessys/hydro/*.swp
rhessys/init/*.swp
rhessys/tec/*.swp
*.bak
rhessys/hydro/*.bak
rhessys/init/*.bak
rhessys/cn/*.bak
rhessys/tec/*.bak
*.swo
defs/*.def

Cedar_world_file/
GCM_climate/
climate_1900_2017
rhessys/cycle/*.org
rhessys/init/*.bk
rhessys/init/*.slow
rhessys/makefile_backup20190911
rhessys/rhessys5-ol
rhessys/rhessys8*
defs_static
 
auxdata/DemGrid.txt
auxdata/patchGrid.txt
defs/copy of fire.def
lai.trai.2018.txt
./rhessys/rhessys5.bf_PAI
./rhessys/rhessys7
./rhessys/rhe5time_def.txt
rhessys/rhessys5.20.1


rhessys/rhessys7.0
rhessys/rhessys7*
*.save


# Build directories
objects/

build/

build/Qt/gcc/bin/
build/Qt/gcc/RHESSys/RHESSys.pro.user
build/Qt/gcc/RHESSys/RHESSys.pro.user.2.7pre1

objects/*.daily
objects/*.yearly
objects/*.monthly
objects/*.params
objects/*hourly
basin_input/
clim/
auxdata/
rhessys/result/
boost/
rhessys/rhessys5
Fire*.txt
rhessys/RhessyDEMOut.txt

result/
rhessys_bk_20200925/


RHESSys/util/netcdf_data_processes

#Qt git structure
.directory
rhessys/init/.directory
util/GRASS/cxy/.directory

#other unitility
util/GRASS/cxy/cxy
g2w/grass2world/g2w


# Eclipse metadata
.project
.cproject

# vscode editor data
.vscode
rhessys/.vscode
*.code-workspace

# OS X extended attribute stores
.DS_Store
.DS_Store*

# Editor leftovers
*~

# Fire-spread model files 
*.dylib
libwmfire.dylib
libwmfire.so

# R
.Rproj.user
.Rhistory

# vscode 
rhessys/.vscode

# made by R func compile_rhessys (should be deleted typically)
.makefile_tmp
