# Compiled object files
*.o
*.pyc
rhessys/rhessys5.20.1


# Build directories
objects/
build/Qt/gcc/bin/
build/Qt/gcc/RHESSys/RHESSys.pro.user
build/Qt/gcc/RHESSys/RHESSys.pro.user.2.7pre1

#Qt git structure
.directory
rhessys/init/.directory
util/GRASS/cxy/.directory

#other unitility
util/GRASS/cxy/cxy
g2w/grass2world/g2w


# Eclipse metadata
.project
.cproject

# OS X extended attribute stores
.DS_Store

# Editor leftovers
*~

